.datetime {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 15%;
}
.time {
  font-size: calc(2.5vw + 2.5vh);
  font-weight: bold;
}
.currentDay {
  font-size: calc(0.8vw + 0.8vh);
}
