.wind-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 32vh;
}

.wind-card {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.wind-card.show {
  opacity: 1;
}

@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
}

.arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  animation: rotateArrow 0.5s linear;
}

.arrow {
  width: 0;
  height: 0;
  border-right: calc(0.9vw + 0.9vh) solid transparent;
  border-left: calc(0.9vw + 0.9vh) solid transparent;
  border-bottom: calc(1.5vw + 1.5vh) solid #fff;
  animation: rotateArrow 0.5s linear;
}

.body-arrow {
  height: calc(1.2vw + 1.2vh);
  width: calc(0.4vw + 0.4vh);
  background-color: #fff;
}

.wind-speed {
  font-size: calc(0.7vw + 0.7vh);
}
