.currentWeatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: calc(0.7vh + 0.7vw);
}
.temp {
  font-size: calc(6vh + 6vw);
  font-weight: bold;
}
.moreInfo {
  display: flex;
  flex-direction: column;
  gap: calc(0.15vw + 0.15vh);
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr {
  height: 5vh;
  width: 0.1vw;
  border: none;
  background-color: white;
}
.toggle-unit {
  display: flex;
  flex-direction: row;
  gap: calc(0.5vw + 0.5vh);
  text-decoration: none;
  font-size: calc(1.2vw + 1.2vh);
  cursor: pointer;
}
.weather {
  font-size: calc(0.8vw + 0.8vh);
  font-weight: bold;
  padding-bottom: 8%;
  text-transform: capitalize;
}
