.spans {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: calc(0.5vw + 0.5vh);
  gap: 1%;
}
.bar {
  height: calc(1vw + 1vh);
  width: calc(0.05vw + 0.05vh);
  background-color: white;
}

.GraphicsContainer {
  height: 35vh;
  padding: 0.5% 15% 1% 15%;
}

.chart-span {
  font-size: calc(0.8vh + 0.8vw);
}
