.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(1.3vh + 1.3vw);
  align-items: center;
  height: 30vh;
  font-size: calc(0.8vw + 0.8vh);
  padding: 0.5% 1% 0 1%;
}
.card {
  height: 28vh;
  width: 10vw;
  border-radius: calc(0.5vh + 0.5vw);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.today {
  background-color: #ffffff3f;
}
.temps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  text-align: center;
  align-items: center;
}

p {
  text-wrap: nowrap;
}
.weatherIcon {
  height: calc(4vh + 4vw);
  width: calc(4vh + 4vw);
  filter: drop-shadow(0px 0px calc(0.1vw + 0.1vh) rgba(255, 255, 255, 1));
}
.forecastDescription {
  text-transform: capitalize;
  text-wrap: wrap;
}
