.container {
  display: flex;
  flex-direction: row;
  align-items: right;
  border-bottom: 0.01em solid white;
}
.icon {
  size: 2em;
}
input {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  width: 13vw;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
