.container {
  display: flex;
  flex-direction: row;
  align-items: right;
  border-bottom: calc(0.01vh + 0.01vw) solid white;
  height: 5vh;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(0.7vw + 0.7vw);
  font-weight: bold;
  width: 13vw;
  height: 5vh;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-icon {
  font-size: calc(1.5vw + 1.5vh);
}
