@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter";
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle 25em at 7% 7%, #96c4f6, #0d6fac);
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 0% 0% 40%;
}
